* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
:root {
  --color: black;
  --back-color: white;
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #725bc6;
}
